
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }
  
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(35, 131, 241);
    color: white;
    padding: 10px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  .navbar.scrolled {
    background-color: rgb(68, 68, 68); 
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0 15px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .nav-list a:hover {
    background-color: aliceblue;
    color: rgb(35, 131, 241);
    border-radius: 5px;
  }
